@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
}

.header {
  display: flex;
  max-width: 100%;
  height: 15vh;
  padding: 2.5% 4% 0;
}
.header .header__logo {
  font-size: 30px;
  font-weight: 600;
  width: 20%;
}
.header .header__nav {
  display: flex;
  width: 60%;
  justify-content: center;
  column-gap: 35px;
  margin-top: 0.5rem;
  color: #A1A1A1;
}
.header .header__nav a:visited {
  color: #A1A1A1;
}
.header .header__nav__home {
  height: 25%;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.header .header__nav__home:hover {
  color: #3F4579;
}
.header .header__nav__home::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.header .header__nav__home:hover::after {
  width: 100%;
  background: #3F4579;
}
.header .header__nav__booking-form {
  height: 25%;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.header .header__nav__booking-form:hover {
  color: #3F4579;
  text-decoration: none;
}
.header .header__nav__booking-form::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.header .header__nav__booking-form:hover::after {
  width: 100%;
  background: #3F4579;
}
.header .header__nav__about {
  height: 25%;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.header .header__nav__about:hover {
  color: #3F4579;
}
.header .header__nav__about::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.header .header__nav__about:hover::after {
  width: 100%;
  background: #3F4579;
}
.header .header__login {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header .header__login__login {
  all: unset;
  color: #3F4579;
  font-weight: 600;
  text-align: center;
  width: 5rem;
  height: 2.8rem;
  cursor: pointer;
  transition: 0.3s;
}
.header .header__login__login:hover {
  color: #999ecf;
}
.header .header__login__signup {
  all: unset;
  background-color: #3F4579;
  color: white;
  text-align: center;
  width: 8.5rem;
  height: 2.8rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}
.header .header__login__signup:hover {
  background-color: #6169ad;
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}
.choose .choose__img {
  width: 45%;
  height: 100%;
  margin-right: 3rem;
}
.choose .choose__text {
  width: 40%;
  text-align: center;
}
.choose .choose__text .choose__text__title {
  font-size: 3rem;
  font-weight: 500;
}
.choose .choose__text .choose__text__p {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 500;
  color: rgb(107, 107, 107);
}
.choose .choose__img {
  height: 100%;
}
.choose .choose__img__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 5rem;
  border-radius: 10px;
}

.map-container {
  width: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 7rem;
}
.map-container .map-container__map {
  width: 75%;
  height: 50vh;
  margin-top: 4rem;
}

.footer {
  margin-top: 4rem;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.footer .footer__info {
  display: flex;
  justify-content: center;
  gap: 25%;
  width: 80%;
}
.footer .footer__tourink p {
  color: #A1A1A1;
}
.footer .footer__menu a {
  color: #A1A1A1;
  text-decoration: none;
  display: block;
}
.footer .footer__menu a:hover {
  border-bottom: 1px solid #A1A1A1;
}
.footer .footer__author p {
  color: #A1A1A1;
}
.footer .footer__author a {
  text-decoration: none;
}
.footer .footer__author a:hover {
  color: #3F4579;
  border-bottom: 1px solid #3F4579;
}
.footer .footer__copy {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: #A1A1A1;
}

/*# sourceMappingURL=about.css.map */
